<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">Events<span>.</span></a>
      <nav>
        <ul>
          <li><a href="/" class="menu-btn">home</a></li>
          <li><a href="/events" class="menu-btn">allEvents</a></li>
          <li><a href="/events/new" class="menu-btn btn">new event</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="hero-container">
          <h1>Explore upcoming Events</h1>
          <a href="/events" class="btn">all events</a>
        </div>
      </section>
    </main>
  </body>
</html>
